[Unit]
Description=Discordbot der 9A
After=network.target

[Service]
Restart=always

#Type=oneshot
#RemainAfterExit=yes

WorkingDirectory=/bot

ExecStart=node run.js

ExecStop=killall node

[Install]
WantedBy=multi-user.target